*{
    margin: 0;
    padding: 0;    
    outline: 0;
    font-family: 'Inter', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
h5{
    color: var(--textcolor);
    font-size: 20px;
    font-weight: 600;
}
h4{
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
p{
    color: var(--pcolor);
    font-size: 16px;
    font-weight: 400;
}
.five_star span{
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.five_star span:hover{
    color: #FFAE00;
}
.shop_now a{
    color: var(--textcolor);
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #477018;
    padding: 15px 50px;
    border-radius: 50px;
    transition: 0.2s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.shop_now a:hover{
    background-color:  var(--homecolor);
    color: var(--whitecolor);
}
:root{
    --homecolor: #477018;
    --whitecolor: #fff;
    --textcolor: #282828;
    --icontext: #F47606;
    --pcolor: #676767;
}
/* nav part start */
#home{
    background-color: var(--homecolor);
    padding: 15px 0;
}
.hme h5{
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 400;
}
.bg_nav ul li{
    padding: 20px;
}
.bg_nav ul li a{
    color: #477018!important;
    font-size: 16px;
    font-weight: 600;
}
.nav_icon span a{
    margin-left: 10px;
}
/* nav part end */
/* cart part start */
#cart{
    margin: 50px 0;
}
.cart_img img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;     
}
.suj_img img:hover{
    box-shadow: rgba(0, 0, 0, 0.30) 5px 5px 5px 5px;
    border: none;
}
.suj_img img{
    width: 100%;
    border: 1.5px solid #A2A2A2;
    border-radius: 20px;
    margin-bottom: 20px;
    transition: 0.5s;     
}
.cart_dtls h2{
    color: #282828;
    font-size: 25px;
    font-weight: 600;
}
b{
    color: #282828;
    font-size: 16px;
    font-weight: 600;
}
.five_star p{
    padding: 0 20px;
}
.five_star h6{
    color: #676767;
    font-size: 16px;
    font-weight: 400;
}
.cart_dtls h5{
    color: var(--icontext);
    font-size: 25px;
    font-weight: 600;
}
.add_cart{
    margin: 20px 0;    
}
.add_cart span{
    padding: 20px 30px;
    border: 1.5px solid #373C33;
    border-radius: 10px;
}
.add_cart span i{
    margin: 0 15px;
    color: #282828;
}
.add_cart span i:hover{
    color: #F47606;
}
.add_cart a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    border: 1.5px solid #F47606;
    border: none;
    border-radius: 10px;
    background-color: #F47606;
    transition: 0.3s;
}
.add_cart a:hover{
    background-color: #477018;
}
.add_cart a:hover i{
    color: #F47606;
}
.add_cart a i{
    color: #477018;
    padding-right: 20px;
    transition: 0.3s;
}
.cart_dtls h3{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 100px;
    border: 2px solid #F47606;
    border: none;
    background-color: #F47606;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.cart_dtls h3:hover{
    background-color: #477018;
}
.add_list a{
    color: #676767;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 25px;
    border: 1.5px solid #A2A2A2;
    border-radius: 10px;
    margin: 10px 0;
}
.add_list a i{
    padding-right: 15px;
}
.add_list a:hover{
    color: #F47606;
}
#share_icon{
    color: #fff;
    padding: 5px;
    border: 1.5px solid #A2A2A2;
    border: none;
    border-radius: 4px;
    background-color: rgb(24, 36, 207);
}
#share_icon2{
    color: #fff;
    padding: 5px;
    border: 1.5px solid #A2A2A2;
    border: none;
    border-radius: 4px;
    background-color: rgb(29, 112, 236);
}
#share_icon3{
    color: #fff;
    padding: 5px;
    border: 1.5px solid #A2A2A2;
    border: none;
    border-radius: 4px;
    background-color: rgb(247, 21, 21);
}
#share_icon4{
    color: #fff;
    padding: 5px;
    border: 1.5px solid #A2A2A2;
    border: none;
    border-radius: 4px;
    background-color: rgb(238, 29, 98);
}
#share_icon:hover{
    background-color: #F47606;
}
#share_icon2:hover{
    background-color: #F47606;
}
#share_icon3:hover{
    background-color: #F47606;
}
#share_icon4:hover{
    background-color: #F47606;
}
.sold{
    margin: 10px 0;
    border-bottom: 2px solid #A2A2A2;
    border-top: 2px solid #A2A2A2;
    padding-top: 15px;
}
.sold h4{
    color: #282828;
    font-size: 20px;
    font-weight: 600;
}
.sold ul{
    list-style: disc;
    padding-left: 15px;
}
.sold ul li{
    color: #676767;
    font-size: 16px;
    font-weight: 400;
}
/* cart part end */
/* discript part start */
#discript{
    margin-bottom: 30px;
}
.dis_head{
    border-bottom: 1.5px solid #A2A2A2;
}
.dis_head button{
    color: var(--pcolor);
    font-size: 20px;
    font-weight: 500;
}
.dis_head button:hover{
    color: var(--homecolor);
}
.nav-underline .nav-link.active, .nav-underline .show > .nav-link{
    color: var(--icontext);
}
.dis_dtls{
    margin-top: 20px;    
}
/* discript part end */
/* related part start */
#related{
    margin-bottom: 50px;
}
.rated_head{
    margin-bottom: 30px;
}
.rated_head h2{
    color: var(--textcolor);
    font-size: 35px;
    font-weight: 700;    
}
.rated_head a{
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;        
}
.rated_head a:hover{
    color: var(--icontext);
}
.rated_dtls{
    position: relative;
    border-radius: 20px; 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.rated_dtls img{
    width: 100%;
}
.rated_dtls:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.rated_icon{
    position: absolute;
    bottom: 20px;    
    left: 30%;
}
.rated_icon i{
    padding: 10px;
    border: 1.5px solid #FFAE00;
    border-radius: 50%;
    transition: 0.4s;
    cursor: pointer;
}
.rated_icon i:hover{
    color: #fff;
    background-color: #FFAE00;
}
.rated_text{
    margin-top: 20px;
    text-align: center;
}
.rated_text h4{
    margin: 5px 0;
}
.rated_text h5{
    color: var(--textcolor);
    font-size: 20px;
    font-weight: 600;
}
/* related part start */



/* footer part start */
footer{
    padding: 50px 0;
    background-color: #373C33;
}
.left_dtls{
    margin: 20px 0;
}
.left_dtls a i{
    margin-right: 20px;
    padding: 16px;
    color: #fff;
    border: 2px solid #477018;
    background-color: var(--homecolor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.left_dtls_last a i{
    margin-right: 20px;
    padding: 16px 18px;
    color: #fff;
    border: 2px solid #477018;
    background-color: var(--homecolor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.left_help a{
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    font-weight: 600;
}
.left_help h6{
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 400;
}
.help_one h6{
    color: var(--whitecolor);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.help_one ul{
    padding-left: 0;        
}
.help_one ul li a{
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.help_one ul li a:hover{
    color:var(--homecolor);
}
.foter_right h6{
    color: var(--whitecolor);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.foter_right p{
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
.roght_sendInput{
    height: 50px;
    width: 300px;
    padding-left: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.roght_sendInput ::placeholder{    
    color: rgba(103, 103, 103, 0.36);
    font-size: 16px;
    font-weight: 400;
}
.roght_send button{
    height: 51px;
    width: 90px;
    border: none;
    margin-left: -20px;
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 600;
    background-color: #F47606;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* footer part end */
@media (max-width:767px){
    .hme h6{
        text-align: center;
    }
    .bg_nav{
        margin-bottom: 10px;
    }
    .bg_nav ul li{
    text-align: center;
    padding: 5px 0;
    }
    .nav_icon{
        text-align: center;
    }
    .help_part{
        margin-top: 20px;
    }
    .foter_right{
        text-align: center;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .bg_nav ul li{
    text-align: center;
    padding: 5px 0;
    }
    .addy_cnt{
        display: flex;
    }
    .left_dtls_last{
        margin-top: 20px;
    }
    .help_part{
        margin-top: 20px;
    }
    .nav_icon{
        text-align: center;
    }
    .foter_right{
        text-align: center;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .roght_sendInput{
        width: 200px;
    }
}
@media (min-width:1200px) and (max-width:1399.98px){
    .roght_sendInput{
        width: 200px;
    }
}
@media (min-width:1400px){
}